<!DOCTYPE html>
<html>

   <head>
      <title>timeStamper</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/92517798-345e-4315-8d27-30376ab91066%2Ffavicon.ico?1501217402213" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Timestamp Service</h1>
        <div class="wrapper">
          <h3><u>Usage:</u></h3><span> https://timestamp-lngka.glitch.me/&lt;type a date here&gt;</span>
          <div>
            <div class="link">
              https://timestamp-lngka.glitch.me/12 24 1990
            </div>
            <br>
            <div class="link">
              https://timestamp-lngka.glitch.me/2014 12 dec 
            </div>
            <br>
            <div class="link">
              https://timestamp-lngka.glitch.me/1450137600
            </div> 
          </div>
          <h3><u>Output:</u></h3>
          <br>
          <div class="link">
              {unix-time: 1418342400000,
               nomal-time: "Friday, December 12, 2014"}
            </div> 
        </div>
      </div>
   </body>

</html>
