/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h1 {
  text-align: center;
}

h3 {
  display: inline-block;
}

span{
  font-size: 1em;
}

.wrapper {
  width: 50%;
  margin: auto;
}
.link {
  display: inline-block;
  color: #D32F2F;
  background-color: #B0BEC5;
}